@model GoBlog.Paging.PagedList<PostViewModel>

@{
    ViewBag.Title = "Home";
}

@foreach (var post in Model) 
{
    <h2>@Html.ActionLink(post.Title, "Post", new { slug = post.Slug })</h2>
    <p>@post.Summary</p>
}

@Html.Partial("_PagerPartial")
