@model Blog.Core.Data.Entities.BlogEntry

@{
    ViewBag.Title = Model.Header;
}

<div class="centered-container">
    <article class="blog-entry">
        <div class="entry-header">
            <h1>@Html.ActionLink(Model.Header, "Entry", "Blog", new { headerSlug = Model.HeaderSlug }, null)</h1>
            <small><a>@Model.PublishDate.ToString("MMMM dd, yyyy")</a></small>
        </div>
        @Html.Raw(Model.Content)
    </article>
</div>