@model Blog.Core.Paging.PagedList<Blog.Core.Data.Entities.BlogEntry>

@{
    ViewBag.Title = "Blog";
}

<div class="centered-container">
    <div class="frame">
        <div class="bit-11">
            
            @if (Model.TotalItemCount == 0) {
                <p>No Entries Found.</p>
            }
           
            @foreach (var entry in Model) {
                @Html.Partial("_EntryPartial", entry)
            }

        </div>
        <div class="bit-5">
            <!-- Widgets here -->
        </div>
    </div>
</div>