@using Blog.Infrastructure.Common
@model Blog.Core.Paging.PagedList<Blog.Models.EntryViewModel>

@{
    ViewBag.Title = "Blog";
}

<div class="frame">
    
    <div class="bit-11">

        @if (Model.TotalItemCount == 0)
        {
            <p>No Entries Found.</p>
        }

        @foreach (var entry in Model)
        {
            if (!entry.Draft)
            { 
                <article class="blog-entry">
                    @Html.Partial("_EntryHeaderPartial", entry)

                    @Html.Raw(entry.Summary)
                
                    @Html.LinkToEntry(entry, new { @class = "flat-button" })
                </article>
                }
        }

        @Html.Partial("_PagerPartial")
    </div>

    <aside class="primary-aside bit-5">
        <article>
            <div>
                <a href="http://stackoverflow.com/users/2015959/byteblast">
                    <img src="http://stackoverflow.com/users/flair/2015959.png">
                </a>
            </div>
            <div class="social-media-widget">
                <a href="http://twitter.com/ByteBlastDev"><img src="~/Images/twitter.png"></a>
                <a href="http://github.com/ByteBlast"><img src="~/Images/github.png" /></a>
                <a href="skype:cric101"><img src="~/Images/skype.png"></a>
                <a href="http://youtube.com/TeachComputing"><img src="~/Images/youtube.png"></a>
            </div>
        </article>
    </aside>

</div>

@section Scripts
{
    <script type="text/javascript">
        var disqus_shortname = 'blogenginebyteblast';

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
}
