@model Blog.Core.Paging.PagedList<Blog.Models.Entry>

@{
    ViewBag.Title = "Blog";
}

<div class="frame">
    
    <div class="bit-11">
        @if (Model.TotalItemCount == 0 || Model.All(e => !e.Published)) {
            <p>No Entries Found.</p>
        }
       
        @foreach (var entry in Model) {
            if (entry.Published)
            {
                @Html.Partial("_EntryPartial", entry)
            }
        }
        
        @Html.Partial("_PagerPartial")
    </div>

    <aside class="primary-aside bit-5">
        <article>
            <div>
                <a href="http://stackoverflow.com/users/2015959/byteblast">
                    <img src="http://stackoverflow.com/users/flair/2015959.png">
                </a>
            </div>
            <div class="social-media-widget">
                <a href="http://twitter.com/ByteBlastDev"><img src="~/Images/twitter.png"></a>
                <a href="http://github.com/ByteBlast"><img src="~/Images/github.png" /></a>
                <a href="skype:cric101"><img src="~/Images/skype.png"></a>
                <a href="http://youtube.com/TeachComputing"><img src="~/Images/youtube.png"></a>
            </div>
        </article>
    </aside>

</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'blogenginebyteblast'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>