@model Medium.DomainModel.PostModel

@{
    ViewBag.Title = Model.Title;
}

<div class="page-header">
    <h1>@Model.Title</h1>
</div>
<div class="row">
    <div class="col-lg-8 col-md-8">
        <p>@Model.Body</p>
    </div>
    <div class="col-lg-4 col-md-4">
        <h4>Published</h4>
        <p class="date">@Model.PublishedAt.ToString("f", new CultureInfo("en-US"))</p>
        <h1>Medium</h1>
        <p>Medium is a beautiful blog engine. The project is open-source and hosted on <a href="https://github.com/ByteBlast/Medium">GitHub.</a></p>
        <p>You could put your own "About Me" here.</p>
    </div>
</div>
