@model List<GoBlog.Models.EntryViewModel>

@{
    ViewBag.Title = "Archive";
}

<article>
    
    @{
        var entriesByYearGrouping = Model.GroupBy(entry => entry.PublishedAt.Year);
        
        foreach (var grouping in entriesByYearGrouping)
        {
            <h2>@grouping.Key</h2>
            <ul>
                @foreach (var entry in grouping)
                {
                    <li>
                        @Html.ActionLink(entry.Header, "Entry", "Blog", new { slug = entry.Slug }, null)
                    </li>
                }
            </ul>
        }
    }
    
</article>