@model GoBlog.Models.EntryViewModel

@{
    ViewBag.Title = Model.Header;
}

<article class="blog-entry">

    @Html.Partial("_EntryHeaderPartial")

    @Html.Raw(Model.Content)
    
    
    <div class="tag-cloud">
            @foreach (var tag in Model.Tags)
            {
                <a>@tag.Name</a>
            }
    </div>

    @Html.Partial("_CommentsPartial")
    

</article>