@model PostInputModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.LabelFor(post => post.Title)
    @Html.EditorFor(post => post.Title)
    <br /> <!-- don't do this at home kids. -->
    @Html.LabelFor(post => post.Content)
    @Html.TextAreaFor(post => post.Content)

    <button type="submit">Edit</button>
}

