@{
}

<article>
    

    <p>
        Welcome to the dashboard. Maybe someday there will be something interesting here but for now, this is merely a place holder.
    </p>
    
    <img src="http://i.imgur.com/Jj5BEWY.gif" alt="" />

</article>