@model GoBlog.Common.Pagination.PagedList<GoBlog.Domain.Model.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var post in Model)
{
    <h2>@Html.ActionLink(post.Title, "Post", "Home", new { slug = post.Slug },new{})</h2>
    <p>@post.Summary</p>
}


@if (Model.TotalPageCount > 1)
{
    if (Model.HasPreviousPage)
    {
        @Html.ActionLink("Newer", "Index", "Home", new { pageNumber = Model.PageNumber - 1 }, new { })
    }
    if (Model.HasNextPage)
    {
        @Html.ActionLink("Older", "Index", "Home", new { pageNumber = Model.PageNumber + 1 }, new { })
    }
}
else
{
    <p>Aww shucks. Looks like you don't have any posts yet.</p>
}