@if (Model.TotalPageCount > 1)
{
    <ul class="pagination">

        @if (Model.HasPreviousPage)
        {
            <li>
                @Html.ActionLink(
                    HttpUtility.HtmlDecode("&laquo;"),
                    "Index",
                    new { pageNumber = Model.PageNumber - 1 })
            </li>
        }
        else
        {
            <li class="disabled">
                <a>&laquo;</a>
            </li>
        }


        @for (var pageNo = 1; pageNo <= Model.TotalPageCount; pageNo += 1)
        {
            if (Model.PageNumber == pageNo)
            {
                <li class="active">
                    @Html.ActionLink(
                        pageNo.ToString(),
                        "Index",
                        new { pageNumber = pageNo })
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink(pageNo.ToString(), "Index", new { pageNumber = pageNo })
                </li>
            }
        }

        @if (Model.HasNextPage)
        {
            <li>
                @Html.ActionLink(
                    HttpUtility.HtmlDecode("&raquo;"),
                    "Index",
                    new { pageNumber = Model.PageNumber + 1 })
            </li>
        }
        else
        {
            <li class="disabled">
                <a>&raquo;</a>
            </li>
        }
    </ul>
}