@model PostPage

@if (Model.TotalPageCount > 1)
{
    <ul class="pagination">

        @if (Model.HasPreviousPage)
        {
            <li>
                @Html.ActionLink(
                    HttpUtility.HtmlDecode("&laquo;"),
                    "Index",
                    new { pageNumber = Model.PageNumber - 1 })
            </li>
        }
        else
        {
            <li class="disabled">
                <a>&laquo;</a>
            </li>
        }

        <li>
            <a>
                Page @Model.PageNumber of @Model.TotalPageCount.
            </a>
        </li>

        @if (Model.HasNextPage)
        {
            <li>
                @Html.ActionLink(
                    HttpUtility.HtmlDecode("&raquo;"),
                    "Index",
                    new { pageNumber = Model.PageNumber + 1 })
            </li>
        }
        else
        {
            <li class="disabled">
                <a>&raquo;</a>
            </li>
        }
    </ul>
}