@using Medium.WebModel
@model PostInput

@if (ViewBag.PostUrl != null) 
{
    using (Html.Alert("alert-success")) 
    {
        <p>Your post has been updated <a href="@ViewBag.PostUrl">here.</a></p>
    }
}

@if (TempData["PostUrl"] != null) 
{
    using (Html.Alert("alert-success"))
    {
        <p>Your post has been published <a href="@TempData["PostUrl"]">here.</a></p>
    }
}

@Html.Partial("_ValidationSummary")

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" />
}