@model Medium.WebModel.PostInput

@if (ViewBag.PostUrl != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        Your post has been updated <a href="@ViewBag.PostUrl">here</a>.
    </div>
}

@if (TempData["PostUrl"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        Your post has been published <a href="@TempData["PostUrl"]">here</a>.
    </div>
}

@Html.Partial("_ValidationSummary")

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" />
}