@model PostInput

@if (TempData["alertVerb"] != null)
{
    using (Html.Alert(AlertCriticalness.Success))
    {
        var verb = @TempData["alertVerb"];
        <p>Your post has been @verb @Html.ActionLink("here", "Index", "Post", new { postSlug = Model.Slug }, null).</p>
    }
}

@Html.Partial("_ValidationSummary")

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" />
}