@model TagsModel
@{
    ViewBag.Title = "Tags";
}

<header class="page-header">
    <h1>
        Tags
    </h1>
</header>

<ul class="tag-list">
    @foreach (var tag in Model.Tags)
    {
        <li>
            <span>
                @tag.Name
                <span class="label label-default">@tag.Count</span>
            </span>
        </li>
    }
</ul>

@foreach (var pair in Model.TagsMap)
{
    <h2>@pair.Key.Name</h2>

    <ul>
        @foreach (var post in pair.Value)
        {
            <li>@post</li>
        }
    </ul>
}