@using Blog.Infrastructure.Common
@model Blog.Models.EntryViewModel

<div class="entry-header">

    <h1>@Html.ActionLink(Model.Header, "Entry", "Blog", new { slug = Model.Slug }, null)</h1>

    <small><a>@Model.PublishedAt.Humanize()</a></small>

    <small>
        @{
            var entryLink = Url.RouteUrl(new { controller = "Blog", action = "Entry", slug = Model.Slug }) + "#disqus_thread";
            <a href="@entryLink"></a>
        }
    </small>
</div>
