<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,300">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/responsive-grid.css">
    <link rel="stylesheet" href="~/Content/syntax-highlighter.css">
    <link rel="stylesheet" href="~/Content/style-sheet.css">
</head>
<body>
    <header>
        <div class="header-background-image">
            <div class="header-background-image-inner">
                <h1>ByteBlast</h1>
                <h3>Software Engineer</h3>
            </div>
        </div>

        <div class="centered-container">
            <button class="nav-toggle" id="nav-toggle"></button>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Archive</a></li>
                    <li><a href="#">Tags</a></li>
                    <li><a href="#">Screencasts</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    @RenderBody()

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/responsive-navigation.js"></script>
</body>
</html>