@model Blog.Core.Paging.PagedList<Blog.Core.Data.Entities.BlogEntry>


<div class="pager">

    @{

        if (Model.PageNumber < Model.TotalPageCount)
        {
            <a href="@Url.Action("Index", "Blog", new { pageNumber = Model.PageNumber + 1 })" class="flat-button older-posts-button">
                &larr; Older Posts
            </a>
        }

        if (Model.PageNumber > 1)
        {
            <a href="@Url.Action("Index", "Blog", new { pageNumber = Model.PageNumber - 1 })" class="flat-button newer-posts-button">
                Newer Posts &rarr;
            </a>
        }
    }

</div>
