body
{
    font-family: "Lato", sans-serif;
}

body > .centered-container
{
    padding: 75px 0;
}

.centered-container
{
    overflow: hidden;
    margin: auto;
    max-width: 1024px;
}

@media screen and (max-width: 1050px) {
    body > .centered-container
    {
        padding: 40px 20px;
    }
}

header
{
    background-color: #222222;
}

header > .header-background-image
{
    padding: 150px 0;
    background-color: tomato;
}

header .header-background-image-inner
{
    margin: auto;
    padding: 30px 0;
    width: 410px;
    background-color: #222222;
    font-family: "Raleway", sans-serif;
}

header h1
{
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 32px;
}

header h3
{
    color: #909090;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 18px;
}

header h3:before
{
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 2px;
    background-color: #353535;
    content: "";
}

header ul > li
{
    display: inline-block;
}

header ul li > a
{
    display: inline-block;
    padding: 20px 30px;
    color: #999999;
}

header ul li > a:hover
{
    background-color: #080808;
    color: white;
}

header .nav-toggle
{
    display: none;
    padding-left: 18px;
    color: #999999;
    font-size: 30px;
    font-family: "FontAwesome";
    line-height: 52px;
}

header .nav-toggle::before
{
    content: "\f0c9";
}

header .nav-toggle:hover
{
    color: white;
}

header .nav-expanded
{
    display: block;
}

@media screen and (max-width: 750px) {
    header nav
    {
        display: none;
    }

    header nav li
    {
        display: list-item;
    }

    header nav li a
    {
        padding: 0;
        padding: 20px;
        width: 100%;
    }

    header .nav-toggle
    {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    header > .header-background-image
    {
        padding: 75px 0;
    }
}

@media screen and (max-width: 420px) {
    header .header-background-image-inner
    {
        width: 310px;
    }
}

.primary-aside
{
    padding: 0;
}

.primary-aside div
{
    float: right;
    margin-bottom: 15px;
}

.social-media-widget img
{
    margin-bottom: 5px;
    margin-left: 5px;
    width: 65px;
    float: right;
}

@media screen and (max-width: 780px) {
    .primary-aside
    {
        padding-left: 16px;
        padding-top: 50px;
        margin-top: 50px;
        border-top: 2px solid #EEE;
    }

    .primary-aside div
    {
        margin-right: 10px;
        margin-bottom: 0;
        float: none;
        margin-bottom: 15px;
    }

    .social-media-widget img
    {
        margin: 0;
        margin-bottom: 10px;
        margin-right: 10px;
        width: 58px;
        float: none;
    }
}

article h1
{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
}

article h2
{
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 29px;
    line-height: 35px;
}

article p
{
    margin-bottom: 22px;
    font-size: 19px;
    line-height: 33px;
}

article p > a,
article li > a
{
    transition: color ease 0.2s;
    color: tomato;
}

article p > a:hover,
article li > a:hover
{
    color: black;
}

article ul, article ol
{
    margin-bottom: 16px;
    margin-left: 26px;
    list-style: disc;
    font-size: 20px;
}

article ul > li
{
    margin: 10px 0;
    font-size: 19px;
}










.blog-entry:not(:last-of-type)
{
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 4px solid #EEE;
}

.blog-entry .entry-header
{
    margin-bottom: 40px;
}

.blog-entry .entry-header a:hover
{
    color: tomato;
}

.blog-entry  h1 ~ small
{
    color: rgb(153, 153, 153);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
}

.blog-entry h1 ~ small:not(:last-of-type):after
{
    margin: 0 10px;
    content: "/";
}

.blog-entry ul > li
{
    margin: 15px 0;
}

.tag-cloud
{
    /* need some kind of padding arrangement */
    margin-bottom: 50px;
}

.tag-cloud > a
{
    color: black;
    display: inline-block;
    padding: 15px 25px;
    background-color: #E0E0E0;
    border: 1px #B6B6B6 solid;
    margin-right: 8px;
    margin-bottom: 8px;
}

button.flat-button
{
    padding: 15px 20px;
    background-color: #222222;
    color: white;
}

button.flat-button:hover
{
    background-color: tomato;
}

