.csharpcode, .csharpcode pre
{
    overflow: auto;
    color: black;
    font-family: Consolas, "Courier New", Courier, Monospace;
    margin: 0;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(204, 204, 204);
    padding: 16px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 22px;
}

.csharpcode .rem
{
    color: #008000;
}

.csharpcode .kwrd
{
    color: #0000ff;
}

.csharpcode .str
{
    color: #a31515;
}

.csharpcode .op
{
    color: #0000c0;
}

.csharpcode .preproc
{
    color: #cc6633;
}

.csharpcode .asp
{
    background-color: #ffff00;
}

.csharpcode .html
{
    color: #800000;
}

.csharpcode .attr
{
    color: #ff0000;
}

.csharpcode .alt
{
    background-color: #f4f4f4;
    width: 100%;
    margin: 0;
}

.csharpcode .lnum
{
    color: #606060;
}