@model IEnumerable<MediumDomainModel.PostModel>

@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>

@foreach (var post in Model)
{
    <h2>@Html.ActionLink(post.Title, "Index", "Post", new { postSlug = post.Slug }, new { })</h2>
}


@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Admin", "Index", "Admin")
    @Html.ActionLink("Logout", "Logout", "Account")
}
else
{
    @Html.ActionLink("Login", "Login", "Account")
}

    