@model Medium.WebModel.HomeModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@Model.WelcomeMessage</h1>
    </div>
</body>
</html>
