@model Medium.DomainModel.Archive.ArchiveModel

@{
    ViewBag.Title = "Archive";
}

<header class="page-header">
    <h1>
        Archive
    </h1>
</header>

@foreach (var year in Model.Years)
{
    <h2>@year.Key</h2>
    foreach (var month in year)
    {
        <h3>@month.Key</h3>
        <ul>
            @foreach (var post in month)
            {
                <li>
                    @post.PublishedAt.ToString("MMMM dd, yyyy") » @Html.ActionLink(post.Title, "Index", "Post", new { postSlug = post.Slug }, new { })
                </li>
            }
        </ul>
    }
}