@model GoBlog.Areas.Admin.Models.PostInputModel

@{
    ViewBag.Title = "Edit";
}

@if (TempData["newPost"] != null)
{
    <p>Your post has been published and is available @Html.ActionLink("here", "Post", "Home", new { area = "", slug = Model.Slug }, new { }).</p>
}

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Add" />
}

<p>This is the edit view. And what.</p>
